:root {
  /* 基础色板 */
  --color-white: #ffffff;
  --color-black: #181818;

  /* 主色 */
  --color-primary: #18a058ff;
  --color-primary-hover: #36ad6aff;
  --color-primary-pressed: #0c7a43ff;
  --color-primary-suppl: #18a058ff;

  /* 中性色阶 */
  --color-gray-1: #f8f8f8;
  --color-gray-2: #f2f2f2;
  --color-gray-3: #ebebeb;
  --color-gray-8: #282828;

  /* 背景色 */
  --color-backgroud: var(--color-white);
  --color-backgroud-soft: var(--color-gray-1);
  --color-backgroud-mute: var(--color-gray-2);

  /* 间距 */
  --section-gap: 1.25rem;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
} */

/* --------- 自定义滚动条样式 --------- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.2);
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.3);
}

/* 深色模式下的滚动条 */
@media (prefers-color-scheme: dark) {
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  ::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.1);
  }

  ::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 255, 255, 0.15);
  }
}

/* --------- 重置与基础样式 --------- */
* {
  box-sizing: border-box;
  margin: 0;
  transition:
    color 0.3s,
    background-color 0.3s,
    border-color 0.3s;
}

html {
  height: 100%;
  font-size: 16px;
  line-height: 1.6;
  overscroll-behavior-y: contain;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  font-family:
    'v-sans',
    Inter,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    sans-serif;
}

code,
pre {
  font-family: 'Fira Code', monospace;
}

/* --------- 应用容器 --------- */
#app {
  min-width: 320px;
  display: flex;
  flex-direction: column;
}

.global-config-provider {
  flex: 1;
  display: flex;
  flex-direction: column;
}

/* --------- 响应式调整 --------- */
@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}
